/*
body{
    background-color: #E8DFEF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 0px;
}


.nav{
    border: 1px inset lightgray;
    background-color:gray;
    text-align: right;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

.nav a{
    border: 1px inset #6612A8;
    background-color: #9446D1;
    padding: 5px 5px 5px 5px;  
}

.form{
    background-color: #9446D1;
    text-align: center;
    border: 3px #6612A8;
        margin-top: 30px;
        margin-right: 40px;
        margin-bottom: 30px;
        margin-left: 40px;
    padding: 20px 20px 20px 20px;
}

.footer{
    border: 1px inset lightgray;
    background-color:gray;
    text-align: right;
    padding: 10px 10px 10px 10px;
}

.footer a{
    border: 1px inset #6612A8;
    background-color: #9446D1;
    padding: 5px 5px 5px 5px;  
}
*/


*{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(123, 202, 255);
    font-family: Arial, Helvetica, sans-serif
}

#header{
    text-align: right;
    background: white;
    padding: 25px 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 75px;
    box-shadow: 0px 3px 5px grey;
}

#header a{
    padding: 8px 20px;
    margin: 2px;
    background: rgb(123, 202, 255);
    text-decoration: none;
    color: white;
    border: 1 solid grey;
    border-radius: 5px;
}

#form{
    width: 300px;
    margin: auto;
    padding: 30px 25px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 3px 5px grey;
}

#form h2{
    margin: 10px;
}

#inputDiv{
    text-align: center;
}

#inputDiv input{
    width: 90%;
    margin: 13px 0;
    padding: 7px;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
}

#submit{
    width: 95%;
    margin-bottom: 5px;
    background: rgb(123, 202, 255);
    color: white;
    border: 1px solid grey;
    padding: 6px;
    border-radius: 3px;
}

#image{
    text-align: center;
    margin-top: 30px;
}

#image a{
    text-decoration: none;
}

#image img{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    margin: 0 5px;
    border: 1px hidden;
}